@import "./header";
@import "./menu";
@import "./sort-by";
@import "./mainblock";
@import "./mediumblock";
@import "./smallblock";
@import "./listsection";

@import "./variables";


* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Console';
}

body { 
    background-color: #f5f5f5;
    width: 100%;
    height: auto; 
}

.container {width: 75%; margin: 0 auto}

@media screen and (max-width: 900px) {
    
    .container {width: 90%; margin: 0 auto}
    
    }

